<body>

  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <% if @book.errors.any? %>
        <%= @book.errors.count %>errors prohibited this obj from being saved:
        <ul>
        <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        <% end %>
        <h1>Editing Book</h1>
        <%= form_with model: @book do |f| %>
        <h5>Title</h5>
        <%= f.text_field :title %>

        <h5>Opinion</h5>
        <%= f.text_field :body %>

        <p><%= f.submit 'Update Book' %></p>

        <%= link_to "Show", book_path(@book.id) %>
        |
        <%= link_to "Back", books_path %>
      </div>
    </div>
  </div>
</body>


<% end %>
